.tm-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.tm-modal-content {
  background: #fff;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
  width: 450px;
}

.tm-modal-content h2 {
  margin-top: 0;
}

.tm-modal-content label {
  display: block;
  margin: 12px 0 5px;
}

.tm-modal-content input,
.tm-modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
